.button {
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;
  transform: all 0.3s ease-in-out;

  &.primary-button {
    background-color: #e1034d;
    color: white;

    &:hover {
      background-color: darken(#e1034d, 10%);
    }
  }

  &:active {
    transform: scale(1.1);
  }
}
